html(
  lang= en
)
  head
    title Grapheel | IRIS
    link(rel="preload" href=styleSource as="style")
    link(rel="preload" href="https://www.w3schools.com/w3css/4/w3.css" as="style")
    <!-- mobile metadata / manifest -->
    meta(charset="UTF-8")
    meta(name="theme-color" content="#ffffff")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="manifest" href="/manifest.json")
    <!-- favicon -->
    <!-- IE -->
    link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico?")
    <!-- other browsers -->
    link(rel="icon" type="image/x-icon" href="/favicon.ico?")
    <!-- styling -->
    link(rel="stylesheet" href=styleSource)
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    script(src="https://js.stripe.com/v3/")
    script(type="text/javascript").
      window._mfq = window._mfq || [];
      (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/b7ecad10-facc-42fc-920c-9d22f4b38081.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-102556390-2")
    script().
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-102556390-2');
    style.
      #loading-placeholder {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      #loading-placeholder h1 {
        color: #333;
        text-shadow: 2px 2px 3px #ccc;
      }
      #loading-spinner {
        padding: 70px 0;
        display: flex;
        justify-content: center;
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      .loading-circle{
        width:100px;
        height:100px;
        border-radius:100%;
        border: 2px solid #58b580;
        position: absolute;
        margin-top: -50px;
        animation: up 2s, colorCycle 2s;
        animation-iteration-count: infinite;
        transition:2s;
        border-bottom:none;
        border-right:none;
        animation-timing-function:linear;
      }
      
      @keyframes up{
       from{transform:rotate(0deg); }
       50%{transform:rotate(180deg);}
       100%{transform:rotate(360deg);}
      }
      @keyframes colorCycle{
        from {border-color: #58f580;}
        33% {border-color: #6eb5f1;}
        66% {border-color: #fd6363;}
        to {border-color: #58f580;}
      }
      #loading-circle2{
        width:90px;
        height:90px;
        margin-top: -45px;
        animation-delay:-.3s;
      }
      #loading-circle3{
        width:80px;
        height:80px;
        margin-top: -40px;
        animation-delay:-.6s;
      }
      #loading-circle4{
        width:70px;
        height:70px;
        margin-top: -35px;
        animation-delay:-.9s;
      }
      #loading-circle5{
        width: 60px;
        height: 60px;
        margin-top: -30px;
        animation-delay:-1.2s;
      }
      #loading-circle6{
        width: 50px;
        height: 50px;
        margin-top: -25px;
        animation-delay:-1.5s;
      }
      #loading-circle7{
        width: 40px;
        height: 40px;
        margin-top: -20px;
        animation-delay:-1.8s;
      }
    body
      // loading gif from https://codepen.io/Roosa/pen/yOQrdg
      div(class="app")
        div(id="loading-placeholder")
          h1 Waiting for IRIS
          div(id="loading-spinner")
            div(id="loading-circle1" class="loading-circle")
            div(id="loading-circle2" class="loading-circle")
            div(id="loading-circle3" class="loading-circle")
            div(id="loading-circle4" class="loading-circle")
            div(id="loading-circle5" class="loading-circle")
            div(id="loading-circle6" class="loading-circle")
            div(id="loading-circle7" class="loading-circle")
      script(
        type="text/javascript"
        src=clientBundleSource
      )
