html(
  lang= en
)
  head
    title Grapheel | IRIS
    link(rel="preload" href=styleSource as="style")
    link(rel="preload" href="https://www.w3schools.com/w3css/4/w3.css" as="style")
    <!-- mobile metadata / manifest -->
    meta(charset="UTF-8")
    meta(name="theme-color" content="#ffffff")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="manifest" href="/manifest.json")
    <!-- favicon -->
    <!-- IE -->
    link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico?")
    <!-- other browsers -->
    link(rel="icon" type="image/x-icon" href="/favicon.ico?")
    <!-- styling -->
    link(rel="stylesheet" href=styleSource)
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    script(src="https://js.stripe.com/v3/")
    script(type="text/javascript").
      window._mfq = window._mfq || [];
      (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/b7ecad10-facc-42fc-920c-9d22f4b38081.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-102556390-2")
    script().
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-102556390-2');
    style.
      #server-placeholder {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      #server-placeholder h1 {
        padding: 0 20px;
        margin-bottom: 50px;
        text-align: center;
      }
    body
      div(class="app")
        div(id="server-placeholder")
          h1 Waiting for IRIS...
          picture
            source(
              type="image/png"
              srcset="/images/irisProposed_withoutBackground_small.png 100w,/images/irisProposed_withoutBackground_300x300.png 300w"
              sizes="(max-width: 800px) 100px,200px"
            )
            img(
              src="/images/irisProposed_withoutBackground_small.png"
              alt="The logo of IRIS, a human iris and pupil coloured in a rainbow. A white greek gamma is overalid in the center"
            )
      script(
        type="text/javascript"
        src=clientBundleSource
      )
